@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Cardo&family=Inter:wght@300&family=Poppins:ital,wght@0,200;0,400;1,300&family=Tektur:wght@700&display=swap');


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}

.main {
    width: 100%;
    /* margin-bottom: 100px; */
}

.asn {
    width: 80%;
    margin: 0px auto;
    padding: 20px 0px;
    display: flex;
    position: relative;
}

.asnov1 {
    width: 40%;
}

.asnov1 p {
    color: #22262A;
    font-size: 28px;
    font-style: normal;
    padding-top: 10px;
}

.asnov2 {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    position: absolute;
    right: 380px;
}

.asnov2 a {
    color: #22262A;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.asnov2 a:hover {
    color: white;
    background-color: #22262A;
    border-radius: 3px;
    transition: .5s ease;
}

.icons {
    display: flex;   
    justify-content: space-evenly;
    padding-left: 460px;
    padding-top: 15px;
}

.icons li {
    color: #22262A;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 40px;
}

.icons li i:hover {
    transform: scale(1.4);
    transition: .3s;
    cursor: pointer;
    border-radius: 3px;
}



.mainjon {
    width: 100%;
    height: 800px;
    background-image: url(imj/1\ 1.svg);
    background-repeat: no-repeat;  
    position: relative;  
}

.photo {
    position: absolute;
    left: 900px;
    top: 410px;
}

.photo h3 {
    color: #22262A;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.photo .nm1 {
    color: #22262A;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.photo .name {
    color: #22262A;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.btn {
    /* background-color: red; */
    padding-top: 30px;
}

.btn button {
    width: 147px;
    height: 35px;
    background-color: #22262A;
    /* border-radius: 15px; */
}

.btn button a {
    color: white;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.btn button:hover {
    transform: scale(1.1);
    transition: .4s;
}


.mainxon {
    width: 80%;
    margin: 0px auto;
    display: flex;
    padding-top: 50px;
}

.right {
    width: 50%;
}

.right .phjon {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.phjon > img {
    margin-right: -25px;
}

.phjon .ph1 {
    position: absolute;
    right: 100px;
}

.left {
    width: 50%;
}

.left img {
    width: 552px;
    height: 574px;
}

.container {
    position: relative;
    width: 100%;
    background-color: black;
}

.container img {
    width: 100%;
}
  
.image {
    opacity: 1;
    display: block;
    transition: .5s ease;
    height: 562px!important;
    margin-bottom: 100px!important;

    
}
  
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 90%;
    left: 25%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    
}
  
.container:hover .image {
    opacity: 0.3;
}
  
  .container:hover .middle {
    opacity: 1;
}
  
.text {
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}